# Application
web/app/plugins/*
web/app/mu-plugins/*/
!web/app/mu-plugins/CustomPostTypes
web/app/upgrade
web/app/uploads/*
web/app/languages/*

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*

# OS
.DS_Store
